* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .who-give-blood,
  .who-can-give-blood,
  .the-donation-process,
  .where-to-donate,
  .news-and-campaigns,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .who-give-blood {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }
  
  .who-can-give-blood {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }

  .the-donation-process{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }


  .where-to-donate{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }


  .news-and-campaigns{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }
  
  .sign-up {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(228, 39, 39);
    font-size: 100px;
  }
  